
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 99;
    display: flex;
    justify-content: center;
}

#latlng {
    position: absolute;
    z-index: 99;
    display: flex;
    justify-content: center;
    background: rgba(245, 245, 245, 0.659);
    padding: 10px;
}

#lat {
    color: black;
    margin: 0 20px 0 0;
}

#lng {
    color: black;
    margin: 0;
}

#map {
    height: 100%;
    width: 100%;
}